<%- include('./partials/header.ejs')%>

        <div class="page">
        <!-- Homepage Content-->

            <section class="textButton">
                <h3 class="homeTxt">
                    Buy and sell your local organic, homemade, and homegrown 
                    produce and artisan goods.
                </h3>
                <a href='/items' class="but">Start Browsing &#8594;</a>
            </section>
            
            <div class="outside">
                <img class="outPic" src="images/garden.png" alt="garden">
            </div>
        </div>
        
<%- include('./partials/footer.ejs')%>