<footer>
    <div class="footItems">
        <small class="copyright">© 2024 OrganicOrbit</small>
        <div class="icons">
    
        <a href=""><img class="icon" src="/icons/facebook.svg" alt="facebook"></a>
        <a href=""><img class="icon" src="/icons/square-twitter.svg" alt="twitter"></a>
        <a href=""><img class="icon" src="/icons/square-instagram.svg" alt="instagram"></a>
        
        </div>
    </div>
</footer>

</body>

</html>